[submodule "source/strobe-api"]
	path = source/strobe-api
	url = https://github.com/wamckee/strobe-api
[submodule "source/tiny-dnn"]
	path = source/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
